*{
padding: 0;
}
#conte{
    width: 100%;
    min-height: 100vh;
    background-image: url(./OIP.jpeg);
}
#nuevaNot{
    color: rgb(248, 229, 232);
}
#inter{
    height: 25vh;
    width: 50vw;
    background-color: rgba(235, 54, 84, 0.562);
}
#realizadas{
    font-weight: 700;
    color: rgb(9, 61, 30);
    font-family:Georgia, 'Times New Roman', Times, serif
}
.tarjetaTamaño {
    width: 22rem;
    min-height: 35vh;
    background-color: rgba(178, 209, 184, 0.856);
}
#texto{
    width: 20rem;
    font-weight: 900;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(134, 5, 33);
}
#boton{
    height: 3rem;
}
#borrarNota{
    height: 15%;
    align-self: flex-end;
}
#nohaynotas{
    background-color: rgba(244, 244, 252, 0.644);
    display: inline;
}
#buscadoresCSS{
    background-color: #50ca9bbe;
    height: 10vh;
    width: 40vw;
    margin-top: 10px;
    border: solid 1px green;
    border-radius: 10px;
}

@media (min-width:515px) and (max-width: 834px){
    #inter{
        height: 22vh;
        width: 80vw;
    }
    #buscadoresCSS{
        width: 60vw;
    }
}
@media (min-width:320px) and (max-width:514px){
    #inter{
        height: 28vh;
        width: 95vw;
    }
    .escritos{
        padding-left: 9px;
        padding-right: 9px;
    }
    #nota{
        width: 60%;
        border-radius: 10px;
    }
    #titulo{
        width: 60%;
        border-radius: 13px;
    }
    #buscadoresCSS{
        width: 70vw;
    }
}